<!-- Log In Form -->
<form action="/login" method="POST">
  <h2>Login</h2>
  <div class="inputbox">
    <label for="username">Username:</label>
    <input type="username" name="username" required><br>
  </div>
  <div class="inputbox">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
  </div>
  <button>Login</button>
  <div class="link">
    <p><a href="/signup">Create a new account</a></p>
  </div>
</form>